<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>
<key>CFBundleIdentifier</key><string>dev.swingcoach.capturestudy</string>
<key>CFBundleName</key><string>Capture Study</string>
<key>CFBundleExecutable</key><string>CaptureStudy</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleVersion</key><string>1</string><key>CFBundleShortVersionString</key><string>1.0</string>
<key>MinimumOSVersion</key><string>26.0</string><key>UIDeviceFamily</key><array><integer>1</integer></array>
<key>UILaunchScreen</key><dict/><key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string></array>
<key>CFBundleURLTypes</key><array><dict><key>CFBundleURLSchemes</key><array><string>capturestudy</string></array></dict></array>
</dict></plist>
